/* General */

.about-icon {
  max-width: 20%;
  height: auto;
}

/* Dark Mode Switch Slider */
.form-check-input {
  margin-top: 5px;
}

/* Dark Mode Switch End */

.hero-section {
  margin-top: 5em;
  margin-bottom: 10em;
}

.section-divider-hr {
  background-color: #0000002a;
  height: 1px;
  margin-top: 20px;
}

.social-icon {
  transition: 0.1s all ease-in-out;
}

.social-icon:hover {
  color: #00adb5;
  transform: scale(1.5);
}

.social-links {
  text-align: center;
}

.wordpress-icon {
  content: url("https://s.w.org/style/images/about/WordPress-logotype-simplified.png")
}

/* Navbar Scroll */

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.1s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: 0.1s ease-in-out;
}


/* Scrollbar */

::-webkit-scrollbar {
  width: .4em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vh;
  margin-block: .1em;
}

::-webkit-scrollbar-thumb {
  background: #00878e;
  border-radius: 100vh;
}

/* Firefox Scrollbar Support */

@supports (scrollbar-width: thin) {
  * {

    scrollbar-width: thin;
  }
}

/* Dark Mode */

body.dark .fab {
  color: #f5f5f7;
}

body.dark .wordpress-icon {
  filter: brightness(0) saturate(100%) invert(65%) sepia(93%) saturate(0%) hue-rotate(247deg) brightness(106%) contrast(96%);
}

.dark .btn-info {
  background-color: #00878e;
}

.dark .btn-info:hover {
  background-color: #009ba3;
}

.dark .section-divider-hr {
  background-color: #f5f5f7;
}

.dark .navbar {
  border-bottom: 1px solid #343437;
}

.dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(238,238,238, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dark .social-icon:hover {
  color: #00adb5;
}

/* Media Queries */

@media (max-width: 767px) {
  .contact-nav-btn {
    border: 0px solid !important;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

}

/* Hamburger Menu */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}


.animated-hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-hamburger span {
  background: #1b1b1d;
}

.dark .animated-hamburger span {
  background: #f5f5f7;
}

.animated-hamburger span:nth-child(1) {
  top: 0px;
}

.animated-hamburger span:nth-child(2),
.animated-hamburger span:nth-child(3) {
  top: 10px;
}

.animated-hamburger span:nth-child(4) {
  top: 20px;
}

.animated-hamburger.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-hamburger.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Only color and font-size supported in Safari for ::marker */
.about-list> ::marker {
  color: #00adb5;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  padding-left: .5em;
}